<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
<main>
    <form action="#" method="post" th:action="@{/client}" th:object="person">
        <fieldset>
            <legend>Nowy Klient</legend>
            <label>Imię
                <input type="text" th:field="${person.getName()}">
            </label>
            <label>Nazwisko
                <input type="text" th:field="${person.getSurname()}">
            </label>
            <label>Pesel
                <input type="number" th:field="${person.getIdNumber()}">
            </label>
            <label>Numer dokumentu
                <input type="text" th:field="${person.getDocNumber()}">
            </label>
            <label>Typ dokumentu
                <input type="text" th:field="${person.getDocType()}">
            </label>
        </fieldset>
    </form>
</main>
</body>
</html>